body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('image/yellow2.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffc226;
}

#register-form {
  display: flex;
  flex-direction: column;
}

#register-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

#register-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#register-form button {
  padding: 10px;
  background-color: #ffc226;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#register-form button:hover {
  background-color: #ffc226;
}

.register-container p {
  text-align: center;
  margin-top: 15px;
}

.register-container p a {
  color: #ffc226;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 400px) {
  .register-container {
    padding: 20px;
  }

  #register-form input,
  #register-form button {
    font-size: 14px;
    padding: 8px;
  }
}