.history-buttons {
  position: fixed;
  top: 18px;
  left: 18px;
  z-index: 9999;
  display: flex;
  gap: 0.7rem;
}
.history-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffc226;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(245, 158, 11, 0.18);
  transition: background 0.2s, transform 0.2s;
}
.history-btn:hover {
  background: #ffb800;
  transform: scale(1.08);
}

.logo-move {
  margin-left: 70px !important;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('jpg/flight.jpg') no-repeat center center fixed;
  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 10px;
  background-color:#73c4e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #2193b0;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #2193b0;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 500px) {
  .login-container {
    padding: 20px;
  }

  .login-form input,
  .login-form button {
    font-size: 14px;
    padding: 8px;
  }
}